img {
  max-width: 100vw;
  max-height: 50vh;
  
}
.image{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
h1{
  position: absolute;
  top: 100px;
  left: 0;
  color: red;
  text-shadow: 2px 2px #000000;
  width: 100%;
  font-size: 600%;
}


header{
  font-size: 300%;
  color: red;
  text-shadow: 2px 2px #000000
}

.box-shadow{
  box-shadow: 0 0 .5rem .2rem #888888
}

.bg-img{
  background-image: url('https://images.unsplash.com/photo-1547056961-3c25e9140b05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  
}

main{
  flex-grow:  1;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }

.hidden{
  display: none !important;
}






